root {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
}

li {
  list-style-type: none;
}

a:hover {
  color: #ffffff;
}

*:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px 0 15px;
}

.bg-dark {
  background-color: #222323;
}

.nav-link {
  color: #ffffff !important;
}

.btn-check:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.btn-primary:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.shopping-cart__icon {
  position: fixed;
  right: 30px;
  top: 50px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  z-index: 1000;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  width: 168px;
}

.header__banner {
  background-image: url("../img/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 210px 0;
}

.header__banner_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__banner_subtitle {
  font-family: "Bebas Neue", sans-serif;
  color: rgba(34, 35, 35, 0.46);
  font-size: 24px;
  margin-bottom: 20px;
}

.header__banner_title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 124px;
  color: #222323;
  font-weight: 400;
  line-height: 1.0;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}

.header__banner_title span {
  color: #f40106;
}

.header__banner_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  width: 160px;
  height: 60px;
  background-color: #f40106;
  font-weight: 600;
}

.header__banner_button:hover {
  background-color: #222323;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px 15px;
}

.navbar__menu_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 42px;
}

.navbar__menu_link {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

.navbar__menu_link:hover {
  border-bottom: 2px solid #ffffff;
}

.navbar__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar__social-media_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90px;
}

.navbar__social-media_link i {
  color: #ffffff;
  font-size: 25px;
}

.navbar__social-media_link i:hover {
  color: #f40106;
}

.main {
  padding: 120px 0 60px;
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 22.5%;
  height: 374px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
  padding-top: 220px;
}

.main__card:first-child {
  width: 47.5%;
  background-image: url("../img/new-arrivals-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main__card:nth-child(2) {
  background-image: url("../img/trainers-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main__card:last-child {
  background-image: url("../img/hot-sale-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main__card_title {
  color: #222323;
  font-size: 52px;
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  border-bottom: 2px solid #f40106;
  padding-bottom: 8px;
}

.main__card_title span {
  color: #f40106;
}

.main__card_link {
  font-size: 14px;
  color: #222323;
  text-decoration: none;
  font-weight: 600;
  padding-bottom: 40px;
}

.main__card_link:hover {
  text-decoration: underline;
}

.why-choose-us {
  padding: 50px 0 120px;
}

.why-choose-us__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why-choose-us__title {
  font-family: "Bebas Neue", sans-serif;
  color: #222323;
  font-size: 52px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;
}

.why-choose-us__title span {
  color: #f40106;
}

.why-choose-us__subtitle {
  font-size: 20px;
  color: #717474;
  margin: 0;
  margin-bottom: 45px;
  font-weight: 400;
}

.why-choose-us__cards {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.why-choose-us__cards_item {
  width: 258px;
  height: 266px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 2px solid #e0e0e0;
}

.why-choose-us__cards_item svg {
  width: 50px;
  height: 50px;
  color: #9b9b9b;
}

.why-choose-us__cards_title {
  font-size: 24px;
  font-family: "Bebas Neue", sans-serif;
  color: #222323;
  margin: 0;
}

.why-choose-us__cards_text {
  font-size: 16px;
  color: #717474;
  text-align: center;
  height: 74px;
  width: 225px;
  margin: 0;
  margin-top: 15px;
}

.about-us {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.about-us__bg {
  background-image: url("../img/about-us.jpg");
  background-size: cover;
}

.about-us__item {
  background-color: #222323;
  padding: 110px 30px 120px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us__item_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 570px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 451px;
}

.about-us__title {
  font-size: 52px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 20px;
}

.about-us__title span {
  color: #f40106;
}

.about-us__text {
  font-size: 20px;
  color: #ffffff;
}

.about-us__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 140px;
  padding: 0;
}

.about-us__social-media_link i {
  font-size: 25px;
  color: #f40106;
}

.about-us__social-media_link i:hover {
  color: #ffffff;
}

.mid-season-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 110px 0 120px;
}

.mid-season-sale__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mid-season-sale__title {
  font-size: 52px;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 30px;
}

.mid-season-sale__title span {
  color: #f40106;
}

.mid-season-sale__subtitle {
  font-size: 20px;
  color: #717474;
  text-align: center;
  margin-bottom: 30px;
}

.mid-season-sale__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 30px;
  width: 100%;
  padding: 0 30px 0;
}

.mid-season-sale__item {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mid-season-sale__item_image {
  margin-bottom: 24px;
}

.mid-season-sale__item_name {
  font-size: 18px;
  color: #717474;
  text-decoration: none;
}

.mid-season-sale__item_name:hover {
  color: #717474;
  text-decoration: underline;
  cursor: pointer;
}

.mid-season-sale__item_price {
  color: #f40106;
  font-size: 18px;
  font-weight: 600;
}

.mid-season-sale__item_button {
  width: 125px;
  height: 50px;
  background-color: #222323;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 15px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0;
}

.mid-season-sale__item_button:hover {
  color: #ffffff;
  background-color: #f40106;
}

.mid-season-sale__item_button:focus {
  background-color: #f40106;
  outline: none;
  border: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

.card-body {
  padding: 0;
}

.get-your-discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get-your-discount__banner {
  background-image: url(../img/discount-bg.png);
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 200px 0 210px;
  margin-bottom: 30px;
}

.get-your-discount__banner_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.get-your-discount__banner_subtitle {
  font-size: 24px;
  font-family: "Bebas Neue", sans-serif;
  color: rgba(255, 255, 255, 0.62);
  text-transform: uppercase;
  margin: 0;
}

.get-your-discount__banner_title {
  font-size: 124px;
  font-family: "Bebas Neue", sans-serif;
  color: #ffffff;
}

.get-your-discount__banner_title span {
  color: #f40106;
}

.get-your-discount__banner_button {
  width: 160px;
  height: 61px;
  text-decoration: none;
  background-color: #ffffff;
  color: #222323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
}

.get-your-discount__banner_button:hover {
  background-color: #222323;
  color: #ffffff;
}

.get-your-discount__cards {
  width: 100%;
}

.get-your-discount__cards_wrapper {
  width: 100%;
  padding: 0 30px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  margin-bottom: 25px;
}

.get-your-discount__cards_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 200px 30px 30px 30px;
}

.get-your-discount__cards_item:first-child {
  background-image: url(../img/discount-tshirt.png);
  background-position: center;
  background-size: cover;
}

.get-your-discount__cards_item:nth-child(2) {
  background-image: url(../img/discount-jackets.jpg);
  background-position: center;
  background-size: cover;
}

.get-your-discount__cards_item:last-child {
  background-image: url(../img/discount-trainers.jpg);
  background-position: center;
  background-size: cover;
}

.get-your-discount__cards_text {
  height: 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(34, 35, 35, 0.89);
  width: 100%;
  padding: 15px 0 15px;
}

.get-your-discount__cards_title {
  font-size: 36px;
  font-family: "Bebas Neue", sans-serif;
  color: #ffffff;
  margin: 0;
}

.get-your-discount__cards_link {
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}

.get-your-discount__cards_link:hover {
  text-decoration: underline;
}

.main-collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 90px 0 120px;
}

.main-collection__title {
  font-size: 52px;
  font-family: "Bebas Neue", sans-serif;
  color: #222323;
  margin-bottom: 35px;
}

.main-collection__subtitle {
  font-size: 20px;
  color: #717474;
}

.main-collection__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-collection__tabs_buttons {
  width: 100%;
  border-bottom: 1px solid #bac1c1;
  margin-bottom: 25px;
}

.main-collection__tabs_buttons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  height: 100%;
}

.main-collection__tabs_link {
  color: #717474;
  font-size: 16px;
  text-decoration: none;
  height: 100%;
}

.main-collection__tabs_link:hover {
  color: #323333;
  cursor: pointer;
}

.main-collection__tabs_content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.main-collection__tabs_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-collection__tabs_image {
  max-width: 370px;
  margin-bottom: 24px;
}

.main-collection__tabs_name {
  font-size: 18px;
  color: #717474;
  text-decoration: none;
  margin-bottom: 16px;
}

.main-collection__tabs_name:hover {
  color: #717474;
  text-decoration: underline;
  cursor: pointer;
}

.main-collection__tabs_price {
  color: #f40106;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px;
}

.main-collection__tabs_button {
  width: 125px;
  height: 50px;
  background-color: #222323;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 15px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0;
}

.main-collection__tabs_button:hover {
  color: #ffffff;
  background-color: #f40106;
}

.main-collection__tabs_button:focus {
  background-color: #f40106;
  outline: none;
  border: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

.active {
  color: #f40106;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .header__banner {
    padding: 100px 0;
  }
  .main {
    padding: 60px 0 30px;
  }
  .why-choose-us__cards {
    grid-gap: 50px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .mid-season-sale {
    padding-top: 70px;
    padding-bottom: 80px;
  }
  .mid-season-sale__cards {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 80px;
  }
  .get-your-discount__banner_content {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 992px) {
  .header__banner {
    padding: 50px 0;
  }
  .header__banner_title {
    font-size: 95px;
  }
  .navbar__menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .main {
    padding: 30px 0 15px;
  }
  .main__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__card {
    width: 85%;
    margin-bottom: 30px;
  }
  .main__card:first-child {
    width: 85%;
  }
  .main__card:last-child {
    margin-bottom: 0;
  }
  .why-choose-us {
    padding: 30px 0 60px;
  }
  .about-us {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-us__item {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .about-us__bg {
    display: none;
  }
  .get-your-discount__cards_item {
    padding: 20px;
  }
  .main-collection__tabs_image {
    max-width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .header__banner {
    padding: 50px 0;
  }
  .header__banner_title {
    font-size: 90px;
  }
  .get-your-discount__banner_title {
    font-size: 90px;
  }
  .get-your-discount__cards_wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
  .get-your-discount__cards_item {
    padding: 120px 30px 30px 30px;
  }
  .main-collection__subtitle {
    text-align: center;
  }
  .main-collection__tabs {
    width: 100%;
    padding: 0px 20px 0px 20px;
  }
  .main-collection__tabs_content {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    width: 100%;
    grid-row-gap: 60px;
  }
  .main-collection__tabs_image {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .header__menu {
    max-width: 200px;
  }
  .why-choose-us__cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-us__item {
    padding: 50px 30px 60px 30px;
  }
  .mid-season-sale {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .mid-season-sale__cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .get-your-discount__banner {
    padding: 150px 0 150px;
  }
  .main-collection {
    padding: 60px 0 80px;
  }
}

@media screen and (max-width: 480px) {
  .header__menu {
    max-width: 150px;
  }
  .header__nav_logo {
    width: 100px;
  }
  .header__banner_content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__banner_title {
    text-align: center;
    font-size: 60px;
  }
  .why-choose-us {
    padding-top: 20px;
  }
  .why-choose-us__title {
    margin-bottom: 15px;
  }
  .why-choose-us__subtitle {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .why-choose-us__cards {
    grid-gap: 20px;
  }
  .contacts__map iframe {
    width: 300px;
  }
  .about-us__item_wrapper {
    height: 600px;
  }
  .mid-season-sale__cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .get-your-discount__banner {
    padding: 100px 0 100px;
  }
  .get-your-discount__banner_content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-collection {
    padding: 40px 0 60px;
  }
}

@media screen and (max-width: 320px) {
  .header__nav_logo {
    width: 75px;
  }
  .header__menu {
    max-width: 100px;
    padding: 0;
  }
  .header__banner {
    padding: 20px 0;
  }
  .header__banner_title {
    font-size: 50px;
    margin-bottom: 25px;
  }
  .header__banner_subtitle {
    margin-bottom: 10px;
  }
  .header__banner_button {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }
  .main__card {
    height: 350px;
  }
  .main__card_title {
    font-size: 40px;
  }
  .why-choose-us__subtitle {
    font-size: 16px;
  }
  .why-choose-us__cards {
    grid-gap: 20px;
  }
  .contacts__map iframe {
    width: 300px;
  }
  .about-us__title {
    font-size: 40px;
  }
  .about-us__text {
    font-size: 16px;
  }
  .mid-season-sale__title {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .mid-season-sale__subtitle {
    font-size: 16px;
  }
  .mid-season-sale__item_button {
    width: 100px;
    height: 40px;
    font-size: 12px;
  }
  .get-your-discount__banner {
    padding: 60px 0 60px 0;
  }
  .get-your-discount__banner_button {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }
  .get-your-discount__banner_title {
    font-size: 50px;
  }
  .get-your-discount__cards_wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .get-your-discount__cards_item {
    padding: 30px 15px 30px 15px;
  }
  .get-your-discount__cards_text {
    height: 80px;
  }
  .get-your-discount__cards_title {
    font-size: 25px;
  }
  .main-collection__title {
    font-size: 40px;
  }
  .main-collection__subtitle {
    font-size: 16px;
  }
  .main-collection__tabs_button {
    width: 100px;
    height: 40px;
    font-size: 12px;
  }
}
/*# sourceMappingURL=index.css.map */